@page
@model ba_Vofpffs.Pages.FileEntryCreateModel

<div>
    <h4>Upload Files Set A</h4>
    <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="PostA">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>

    <h4>Upload Files Set B</h4>
    <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="PostB">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
</div>

<div>
    <form method="post" asp-controller="Upload" asp-action="PostEmu">
        <div class="form-group">
            <p>Create a entry with a given IpAddress</p>
            <p>Headers are expected in a Format ("{0}={1}", x.Key, x.Value) seperated by "|" foreach Key-Value-Pair</p>
            <input type="checkbox" name="SetA" value="true">Set A
            <input type="checkbox" name="SetB" value="true">Set B
            <input type="text" placeholder="Filename" name="Filename" />
            <input type="text" placeholder="IpAddress" name="Ip" />
            <input type="number" placeholder="Size in Byte" name="Size" />
            <input type="text" placeholder="Header" name="Header" />

            <input type="submit" value="Upload" />
        </div>
    </form>

    <form method="post" asp-controller="Upload" asp-action="PostEmu">
        <div class="form-group">
            <p>Create a entry with a random IpAddress</p>
            <p>Headers are expected in a Format ("{0}={1}", x.Key, x.Value) seperated by "|" foreach Key-Value-Pair</p>
            <input type="checkbox" name="SetA" value="true">Set A
            <input type="checkbox" name="SetB" value="true">Set B
            <input type="text" placeholder="Filename" name="Filename" />
            <input type="number" placeholder="Size in Byte" name="Size" />
            <input type="text" placeholder="Header" name="Header" />

            <input type="submit" value="Upload" />
        </div>
    </form>

</div>
