@page
@model ba_Vofpffs.Pages.FileEntryVisualPageModel
@{
    ViewData["Title"] = "FileEntryVisualPage";
}

<script src="https://d3js.org/d3.v4.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcArrdK5QqP7bC_lv3eQ29SSGGmMsvezw"
        type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="~/lib/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/js/Vofpffs.js"></script>
<link href="~/lib/css/Vofpffs.css" rel="stylesheet" />

<div class="grid-container" onload="renderChart()">

    <nav id="sidebar" class="sidebar">
        <div id="FileEntryInspector" class="grid-item">
            <p id="selectedDbSetParagraph">DB Set A</p>

            <div>
                <button id="buttonA" class="btn-block btn-primary" onclick="setDbSet(this.id)">A</button>
                <button id="buttonB" class="btn-block btn-primary" onclick="setDbSet(this.id)">B</button>
                <select id="propertySelector" class="custom-select" onchange="onSelectChange(this.value)"></select>
            </div>

            <p id="idParagraph">Id :</p>
            <p id="filenameParagraph">Filename : </p>
            <p id="sizeParagraph">Size : </p>
            <p id="ipParagraph">IpAddress : </p>
            <p id="dateParagraph">Date :</p>
            <p id="countryParagraph">Country :</p>
            <p id="regionNameParagraph">Region Name : </p>
            <p id="cityParagraph">City : </p>
            <p id="latParagraph">Lat : </p>
            <p id="lonParagraph">Lon :</p>
            <p id="ispParagraph">ISP : </p>

            <p id="HeaderParagraph">Header : </p>
            <ul id="HeaderList"></ul>
        </div>
    </nav>

    <div id="FileEntryChart" class="grid-item">

    </div>
</div>